@import "tailwindcss" source(none);
@source "../app/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../figma/**/*.{js,ts,jsx,tsx}";
@source "../styles/**/*.css";

@import "tw-animate-css";
